.koption label, #headerimg_div label{
padding-right:4px; 
width:300px; 
text-align:right; 
display:block; 
float:left; 
clear:left;
padding-top:4px;
font-weight:bold;
}

.koption input, #headerimg_div input{
width:300px;
border:1px solid #ccc;
padding:2px 3px;
}

.centerme{
	text-align:center;
	}
